@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fbfbfb;
  padding: 0; 
  margin: 0;

}

td{
  border-top: 1px solid rgba(0,0,0,.1);
  
}
div .gallery {
  @apply min-w-full min-h-[250px] rounded-lg w-1/2 text-center flex justify-center bg-cover bg-no-repeat bg-center;

  
}
#link {
  @apply bg-background px-4 my-2 py-2 self-end rounded-md font-semibold;
}

.bar h1 {
  @apply font-semibold text-2xl mt-3; 
}
.bar p {
  @apply text-lg ;
}

#discount p {
  @apply text-lg tracking-wide my-2;
}
#discount li {
  @apply text-lg font-semibold;
}